.env
.env*
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.ENV/
build/
dist/
*.egg-info/
.eggs/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.git/
.cache_ggshield
